<body class="airports reviews">

<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>

<div class="main">

<h1> <%= @airline.inspect %> </h1>
</div>
</body>