<body class="airports reviews">

<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>



<h2>Edit Account Info</h2>

	<%= render "userForm" %>

<%= link_to "Delete Account", delete_user_path, method: :delete %>



</body>