// Place all the styles related to the airports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: rgba(255,134,55,1);
$dark-blue: rgba(34,112,148,1);
$medium-blue: rgba(104,160,181, 1);
$light-blue: rgba(173,207,214,1);
$dark-orange: rgba(230,86,58,1);
$review-font: 'Quattrocento Sans', sans-serif;


.navbar {
	position: absolute;
	top: 10px;
	z-index: 1;
	background-color: rgba(34,112,148,.6);
	color: $dark-orange;
	border: none;
	height: 30px;
	a {
		color: $dark-orange;
	}
	nav navbar-nav{

			color: $dark-orange;
	}
	
}
.page-header {
	position: relative; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#227094), color-stop(100%,#adcfd6)); /* Chrome,Safari4+ */
	top: 10px;
	padding-top: 10%;
	padding-left: 10%;
		

	h1{ 
		font-size: 60px;
		font-weight: bold;
		color: $orange;
	}
		
	h2 {
		font-size: 28px;
	}
}
.yes {
	border: 2px solid green;
}
.no {
	color: red;
}
.airports {

	background-color: lighten($orange, 30%);
	font-family: 'Simplifica', 'Oswald', sans-serif;

	
	.main {
		font-size: 24px;
		text-align: center;
		margin: 0 auto;
		.container{
			width: 900px;
			max-height: 1000px;
		}
		.airports-list {
			background-color: rgba(255, 255, 255, .6);
			border-radius: 15px;
			padding: 20px;
			list-style: none;
			text-align: left; 


			a {
				text-decoration: underline;
			}
			.title {
				border-bottom: 2px solid black; 
				text-align: center;
				font-weight: bold;
			}
			.airport{
				border: 0px solid black; 
				border-radius: 15px;
				max-height: 200px;
				overflow: scroll;
			}

	}
	
	.airport-info{
		background-color: lighten($light-blue, 10%);
		width: 800px;
		border: 3px solid $orange;
		border-radius: 5px;
		position: absolute; 
		right: 10%;
		top: 45%;
		ul{
			width: 600px;
			margin: 0 auto;
		}
		li{
			list-style: none;
		}

	}
	

}
	.search {
		position: relative;
		top: -100px;
	}
}
.airport {
	.map{
		background-color: none;
		position: relative;
		padding-top: 10%;
		padding-left: 10%;
		height: 900px;
		border-bottom: $light-blue 2px solid;

	}
}

.navbar {
	width: 100%;
	position: absolute; 
	top: 0; 
	font-size: 18px;
	font-weight: bold;
}
.airport-review{
	background-color: rgba(104,160,181, .8);
	text-align: left; 
	padding: 10px;
	margin: 20px;
	font-family: $review-font;
	font-size: 14px;

}



