// Place all the styles related to the bean controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bean-review > p {
	font-family: Simplifica; 
	font-size: 28px;
	text-align: center;
}

.new-bean {
	font-family: Simplifica;
	font-size: 28px;
	text-align: center;
}
