// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: rgba(255,134,55,1);
$dark-blue: rgba(34,112,148,1);
$medium-blue: rgba(104,160,181, 1);
$light-blue: rgba(173,207,214,1);
$dark-orange: rgba(230,86,58,1);
$review-font: 'Quattrocento Sans', sans-serif;
.api {
	.page-header{
		height: 100px;
		h1{
			position: relative;
			top: -120px;
			font-size: 28px;
		}
		h2{
			position: relative;
			top: -120px;
			font-size: 24px;
		}
	}
	.arrival, .departure{
		position: relative;
		top: 20px;
		background-color: $light-blue;
		border: $orange 2px solid;
		width: 700px;
		margin: 20px auto;
		max-height: 800px;
		.airport-review{
			
		}
		
	}
	.api-info {
		background-color: lighten($light-blue, 10%);
		width: 250px;
		margin: 20px 20px 20px 60px;
		text-align: left;
		padding: 10px 20px 10px 20px;
		float: left;
		border: $medium-blue 2px solid;
		border-radius: 5px;
		h2{ text-decoration: underline;}
	}
}