// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: rgba(255,134,55,1);
$dark-blue: rgba(34,112,148,1);
$medium-blue: rgba(104,160,181, 1);
$light-blue: rgba(173,207,214,1);
$dark-orange: rgba(230,86,58,1);
$review-font: 'Quattrocento Sans', sans-serif;
.api {
	.page-header{
		height: 100px;
		h1{
			position: relative;
			top: -120px;
			font-size: 28px;
		}
		h2{
			position: relative;
			top: -120px;
			font-size: 24px;
		}
	}
	.airport-info {
		position: absolute;
		
		
	}
	.api-info {
		background-color: lighten($light-blue, 10%);
		width: 200px;
		margin: 20px;
		text-align: left;
		padding: 10px;
	}
}