// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews {
	.container {
		width: 300px;
		margin: 0 auto; 

	}
	#notes{
		height: 200px;
		
	}
	input {
		font-size: 20px;
	}
	select {
		font-size: 20px;
	}
	textarea {
		font-size: 20px;
		font-family: 'Quattrocento Sans', sans-serif;
	}
}